<ion-content padding class="bg-level3">
  <div id="container">
    <div>
      <div>
        <div>
          <section>
            <ion-radio-group>

              <ion-list-header>
                <ion-label>
                  <div class="fullscreen-bg">
                    <video class="video-tutorial" [autoplay]="true" muted controls>
                      <source
                        src="https://firebasestorage.googleapis.com/v0/b/apgscore1103.appspot.com/o/video%20tutorial%2F297740.t.mp4?alt=media&token=55f10dea-38a6-42cb-96f2-3f28e67d60fa"
                        type="video/mp4">
                    </video>
                    <h4>สถานการณ์ : ทารกแรกเกิดตัวเขียวคล้ำ HR 42 bpm ไม่มีการตอบสนอง ตัวอ่อนปวกเปียก ไม่มีการหายใจ</h4>
                  </div>
                </ion-label>
              </ion-list-header>

              <div class="spacer" style="width: 300px; height: 30px;"></div>
              <div class="cards">
                <div class="grid-full">
                  <ion-row>

                    <ion-col size="12">
                      <div>
                        <input type="radio" id="control_01" name="select" slot="start" value="1">
                        <label for="control_01">
                          <p>1. เตรียมอุปกรณ์ฟื้นคืนชีพทารก (Neonatal Resuscitation) </p>
                        </label>
                      </div>
                    </ion-col>
                    <ion-col size="12">
                      <div>
                        <input type="radio" id="control_02" name="select" slot="start" value="2">
                        <label for="control_02">
                          <p> 2. ใช้ลูกสูบยางแดงดูดสารคัดหลั่งในปากและจมูก เพื่อให้ทารกหายใจได้สะดวก (Suction Clear
                            Airway) </p>
                        </label>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
              </div>


              <div>
                <ion-row>
                  <ion-col>
                    <ion-button color="success">
                      ยืนยันคำตอบ
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-radio-group>
          </section>
        </div>
      </div>
    </div>
  </div>
</ion-content>