<ion-content padding class="background-login">
  <div class="spacer" style="width: 300px; height: 30px;"></div>
 
<div>
  <img src="../../../assets/logo/logo-bg-w.png" class="login-img">
</div>
<h4 id="page10-heading6" style="text-align:center;">ลงทะเบียน</h4>
<div class="spacer" style="width: 300px; height: 30px;"></div> 
<form  #form="ngForm" >
  <div class="dv-pd">
    <ion-item>
      <ion-icon ios="logo-buffer" md="logo-buffer"></ion-icon><ion-input type="text" placeholder="รหัสนักศึกษา" name="std_code" [(ngModel)]="std.std_code"  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon ios="logo-octocat" md="logo-octocat"></ion-icon><ion-input type="text" placeholder="ชื่อ" name="username" [(ngModel)]="std.username"  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon ios="logo-octocat" md="logo-octocat"></ion-icon><ion-input type="text" placeholder="นามสกุล" name="username" [(ngModel)]="std.lastname"  required></ion-input>
    </ion-item>
    <ion-item> 
      <ion-icon name="key"></ion-icon><ion-input type="password" placeholder="รหัสผ่าน" name="password"  [(ngModel)]="std.password"  required></ion-input>
    </ion-item>
  </div>       
    <ion-button  shape="round" fill="outline" size="large" type="submit" [disabled]="form.invalid" (click)="signup()" expand="block">ยืนยัน</ion-button>      
</form>   

  <!-- <p style="text-align:center;color:#f05800f6"><b routerLink="/register">ลงทะเบียน</b></p> -->
</ion-content>

<ion-footer id="bg-footer">
  <ion-toolbar>
    <p style="text-align:center;color:#fffffff6"><b routerLink="/login">เข้าสู่ระบบ</b></p>
    <!-- <ion-title>Footer</ion-title> -->
  </ion-toolbar>
</ion-footer>