<ion-content padding>
  <div id="container">
    <div *ngIf="randomCard.length > 0">
      <div *ngFor="let item of randomCard, let i = index;">
        <div *ngIf="randomCard.length === (randomCard.length - i)">
          <section>
            <ion-radio-group [(ngModel)]="status">
              <ion-list-header>
                <ion-label>
                  <h2>{{ randomCard[i].problem }}</h2>
                </ion-label>
              </ion-list-header>
              <div class="spacer" style="width: 300px; height: 30px;"></div>
              <div class="cards">
                <div class="grid-full">
                  <ion-row>

                    <ion-col>
                      <div>
                        <input type="radio" id="control_01" name="select" (click)="onCheck('1')" slot="start" value="1">
                        <label for="control_01">
                          <p>{{ randomCard[i].option1 }}</p>
                        </label>
                      </div>
                    </ion-col>

                    <ion-col>
                      <div>
                        <input type="radio" id="control_02" name="select" (click)="onCheck('2')" slot="start" value="2">
                        <label for="control_02">

                          <p>{{ randomCard[i].option2 }}</p>
                        </label>
                      </div>
                    </ion-col>

                    <ion-col>
                      <div>
                        <input type="radio" id="control_03" name="select" (click)="onCheck('3')" slot="start" value="3">
                        <label for="control_03">

                          <p>{{ randomCard[i].option3 }}</p>
                        </label>
                      </div>
                    </ion-col>

                    <ion-col>
                      <div>
                        <input type="radio" id="control_04" name="select" (click)="onCheck('4')" slot="start" value="4">
                        <label for="control_04">

                          <p>{{ randomCard[i].option4 }}</p>
                        </label>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
              <div>
                <ion-row>
                  <ion-col style="padding-left: 75%;">
                    <ion-button color="success" [disabled]="status === ''" (click)="next(i)">
                      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                      ตกลง
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-radio-group>
          </section>
        </div>
      </div>
    </div>
  </div>




  <!-- <div *ngIf="randomCard.length > 0">
      <div *ngFor="let item of randomCard, let i = index;" >
        <ion-list *ngIf="randomCard.length === (randomCard.length - i)" >
          <ion-radio-group [(ngModel)]="status">          
            <ion-list-header>
              <ion-label><h2>{{ randomCard[i].problem }}</h2></ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>{{ randomCard[i].option1 }}</ion-label>
              <ion-radio (click)="onCheck('1')" slot="start" value="1" type="hidden"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>{{ randomCard[i].option2 }}</ion-label>
              <ion-radio (click)="onCheck('2')" slot="start" value="2"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>{{ randomCard[i].option3 }}</ion-label>
              <ion-radio (click)="onCheck('3')" slot="start" value="3"></ion-radio>
            </ion-item>
      
            <ion-item>
              <ion-label>{{ randomCard[i].option4 }}</ion-label>
              <ion-radio (click)="onCheck('4')" slot="start" value="4"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <div>
            <ion-row>
              <ion-col style="padding-left: 75%;">
                <ion-button color="success" [disabled]="status === ''" (click)="next(i)">
                  <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                  ตกลง
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-list>
      </div>
    </div>  -->

  <div style="text-align: center;" *ngIf="randomCard.length === 0">
    <h1>หม๋ดแล่ว</h1>
    <h2>คะแนนที่ได้: {{score}}/10</h2>
    <ion-row>
      <ion-col>
        <ion-button color="primary">
          <ion-icon slot="end" name="home-outline"></ion-icon>
          กลับหน้าหลัก
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="primary">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          ด่านต่อไป
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>