

<ion-content padding class="bg-chooes-level">
  <div class="spacer" style="width: 300px; height: 30px;"></div>
  <div>
    <img src="../../../assets/logo/logo-bg-w.png" class="login-img">
  </div>
      <h4 id="page10-heading6" style="text-align:center;">เลือกด่าน {{userEmail}}</h4>
       <h4 style="text-align:center;" (click)="signout()"> logout</h4>

  <div id="choose_level" *ngIf="isAdmin !== 'admin@gmail.com' else admin" >
    <ion-button  size="large" type="submit" expand="block" (click)="state1()">ด่านที่ 1</ion-button> 
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-button  size="large" type="submit" expand="block" (click)="state2()">ด่านที่ 2</ion-button>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-button  size="large" type="submit" expand="block" (click)="state3()">ด่านที่ 3</ion-button>
  </div>

  <ng-template #admin>
    <ion-button  size="large" type="submit" expand="block" (click)="state1()">ด่านที่ 1</ion-button> 
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-button  size="large" type="submit" expand="block" (click)="state2()">ด่านที่ 2</ion-button>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-button  size="large" type="submit" expand="block" (click)="state3()">ด่านที่ 3</ion-button>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-button  size="large" type="submit" expand="block" (click)="viewScore()">ดูคะแนน</ion-button>
  </ng-template>
 
</ion-content>
