

<ion-content padding class="bg-chooes-level">
  <div class="spacer" style="width: 300px; height: 30px;"></div>
  <div>
    <img src="../../../assets/logo/logo-bg-w.png" class="login-img">
  </div>
      <h4 id="page10-heading6" style="text-align:center;">เลือกด่าน</h4>
    

  <div id="choose_level">
    <ion-button  size="large" type="submit" expand="block" routerLink="/level1">ด่านที่ 1</ion-button> 
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-button  size="large" type="submit" expand="block" routerLink="/level2">ด่านที่ 2</ion-button>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-button  size="large" type="submit" expand="block" routerLink="/level3">ด่านที่ 3</ion-button>
  </div>
 
</ion-content>
